@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap");

*,
*::after,
*::before {
    /* For debugging
    */
    border: 1px dotted red;
    --_: none;

    box-sizing: border-box;
    font-family: "Source Code Pro", Arial, Helvetica, sans-serif;

    --color-shift-time: .1s;
    --size-shift-time: .3s;
    transition: background var(--color-shift-time) ease,
        background-color var(--color-shift-time) ease,
        color var(--color-shift-time) ease,
        transform var(--size-shift-time) ease-in-out;
}

:root {
    --primary: rgb(249 250 255);
    --surface-tint: rgb(154 203 250);
    --on-primary: rgb(0 0 0);
    --primary-container: rgb(158 208 255);
    --on-primary-container: rgb(0 0 0);
    --secondary: rgb(249 250 255);
    --on-secondary: rgb(0 0 0);
    --secondary-container: rgb(189 204 222);
    --on-secondary-container: rgb(0 0 0);
    --tertiary: rgb(255 249 252);
    --on-tertiary: rgb(0 0 0);
    --tertiary-container: rgb(215 195 235);
    --on-tertiary-container: rgb(0 0 0);
    --error: rgb(255 249 249);
    --on-error: rgb(0 0 0);
    --error-container: rgb(255 186 177);
    --on-error-container: rgb(0 0 0);
    --background: rgb(16 20 24);
    --on-background: rgb(224 226 232);
    --surface: rgb(16 20 24);
    --on-surface: rgb(255 255 255);
    --surface-variant: rgb(66 71 78);
    --on-surface-variant: rgb(249 250 255);
    --outline: rgb(198 203 211);
    --outline-variant: rgb(198 203 211);
    --shadow: rgb(0 0 0);
    --scrim: rgb(0 0 0);
    --inverse-surface: rgb(224 226 232);
    --inverse-on-surface: rgb(0 0 0);
    --inverse-primary: rgb(0 44 72);
    --primary-fixed: rgb(213 233 255);
    --on-primary-fixed: rgb(0 0 0);
    --primary-fixed-dim: rgb(158 208 255);
    --on-primary-fixed-variant: rgb(0 24 42);
    --secondary-fixed: rgb(217 232 251);
    --on-secondary-fixed: rgb(0 0 0);
    --secondary-fixed-dim: rgb(189 204 222);
    --on-secondary-fixed-variant: rgb(8 24 36);
    --tertiary-fixed: rgb(241 225 255);
    --on-tertiary-fixed: rgb(0 0 0);
    --tertiary-fixed-dim: rgb(215 195 235);
    --on-tertiary-fixed-variant: rgb(29 16 46);
    --surface-dim: rgb(16 20 24);
    --surface-bright: rgb(54 57 62);
    --surface-container-lowest: rgb(11 15 18);
    --surface-container-low: rgb(24 28 32);
    --surface-container: rgb(28 32 36);
    --surface-container-high: rgb(39 42 46);
    --surface-container-highest: rgb(49 53 57);

    --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
    --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
    --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
    --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
    --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
    --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);

    --background-alt: rgb(0, 53, 156);
    --background-grad: linear-gradient(90deg, rgba(0, 53, 156, 1) 0%, rgba(0, 123, 255, 1) 100%);

    --font-scifi: "Source Code Pro", monospace;
}

html,
body {
    background-color: var(--background);
    color: var(--on-background);
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}

h1 {
    font-size: var(--font-size-xxl);
}

h2 {
    font-size: var(--font-size-xxl);
}

h3 {
    font-size: var(--font-size-xl);
}

h4 {
    font-size: var(--font-size-lg);
}

h5 {
    font-size: var(--font-size-mg);
}

p {
    font-family: var(--font-scifi);
    font-size: var(--font-size-base);
    transition: font-size 0.3s ease;
}

header {
    transition: transform 0.3s ease-in-out;
    background-color: var(--background);
    align-items: center;
    display: flex;
    z-index: 100;
    height: 50px;
    width: 100%;
    padding: 10px;
    position: fixed;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#home-welcome {
    margin-bottom: 5vh;
}

.nav-up {
    transform: translateY(-100px);
}

.title {
    font-family: var(--font-scifi);
    color: var(--text-color);
    font-size: 48px;
    font-weight: 200;
    word-wrap: normal;
    transition: font-size 0.3s ease;
}

.display-box {
    background: var(--surface-bright);
    padding: 30px;
    border-radius: 10px;
    font-family: var(--font-scifi);
    font-weight: 400;
    transition: margin 0.5s ease;
}

.glow.light {
    -webkit-box-shadow: 0px 0px 105px 15px rgba(255, 255, 255, 0.03);
    -moz-box-shadow: 0px 0px 105px 15px rgba(255, 255, 255, 0.03);
    box-shadow: 0px 0px 105px 15px rgba(255, 255, 255, 0.03);
}

.glow.dark {
    -webkit-box-shadow: 0px 0px 105px 45px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0px 0px 105px 45px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 0px 105px 45px rgba(0, 0, 0, 0.07);
}

.smooth-size {
    transition:
        height var(--size-shift-time),
        width var(--size-shift-time);
}

@media screen and (max-width: 650px) {
    .title {
        font-size: 24px;
    }

    .sub-title {
        font-size: 12px;
    }

    .display-box {
        margin: 30vh 0;
    }

    .lucky-message {
        font-size: 8px;
    }
}

main {
    margin: 10px 20%;
    padding: 10px;
}

footer {
    border-radius: 10px 10px 0 0;
    background-color: var(--primary);
    color: var(--text-color);
    padding: 10px;
    text-align: center;
    margin: auto 8px;
}

.centered {
    align-items: center;
    justify-content: center;
    justify-self: center;
    text-align: center;
}

.centered.fb {
    display: flex;
    align-items: center;
}

.centered.tmp {
    display: flex;
    align-items: center;
}

.left {
    padding: 20px;
}

.right {
    padding: 20px;
    margin-left: auto;
}

#gti-logo {}

/* Page loader */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--surface-container-lowest);
    z-index: 900;
    transition: opacity 1s ease;
    place-items: center;
    display: grid;
}

.loader {
    width: 112px;
    height: 112px;
}

.box1,
.box2,
.box3 {
    border: 16px solid #f5f5f5;
    box-sizing: border-box;
    position: absolute;
    display: block;
}

.box1 {
    width: 112px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
    animation: abox1 4s 1s forwards ease-in-out infinite;
}

.box2 {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
    animation: abox2 4s 1s forwards ease-in-out infinite;
}

.box3 {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
    animation: abox3 4s 1s forwards ease-in-out infinite;
}

@keyframes abox1 {
    0% {
        width: 112px;
        height: 48px;
        margin-top: 64px;
        margin-left: 0px;
    }

    12.5% {
        width: 48px;
        height: 48px;
        margin-top: 64px;
        margin-left: 0px;
    }

    25% {
        width: 48px;
        height: 48px;
        margin-top: 64px;
        margin-left: 0px;
    }

    37.5% {
        width: 48px;
        height: 48px;
        margin-top: 64px;
        margin-left: 0px;
    }

    50% {
        width: 48px;
        height: 48px;
        margin-top: 64px;
        margin-left: 0px;
    }

    62.5% {
        width: 48px;
        height: 48px;
        margin-top: 64px;
        margin-left: 0px;
    }

    75% {
        width: 48px;
        height: 112px;
        margin-top: 0px;
        margin-left: 0px;
    }

    87.5% {
        width: 48px;
        height: 48px;
        margin-top: 0px;
        margin-left: 0px;
    }

    100% {
        width: 48px;
        height: 48px;
        margin-top: 0px;
        margin-left: 0px;
    }
}

@keyframes abox2 {
    0% {
        width: 48px;
        height: 48px;
        margin-top: 0px;
        margin-left: 0px;
    }

    12.5% {
        width: 48px;
        height: 48px;
        margin-top: 0px;
        margin-left: 0px;
    }

    25% {
        width: 48px;
        height: 48px;
        margin-top: 0px;
        margin-left: 0px;
    }

    37.5% {
        width: 48px;
        height: 48px;
        margin-top: 0px;
        margin-left: 0px;
    }

    50% {
        width: 112px;
        height: 48px;
        margin-top: 0px;
        margin-left: 0px;
    }

    62.5% {
        width: 48px;
        height: 48px;
        margin-top: 0px;
        margin-left: 64px;
    }

    75% {
        width: 48px;
        height: 48px;
        margin-top: 0px;
        margin-left: 64px;
    }

    87.5% {
        width: 48px;
        height: 48px;
        margin-top: 0px;
        margin-left: 64px;
    }

    100% {
        width: 48px;
        height: 48px;
        margin-top: 0px;
        margin-left: 64px;
    }
}

@keyframes abox3 {
    0% {
        width: 48px;
        height: 48px;
        margin-top: 0px;
        margin-left: 64px;
    }

    12.5% {
        width: 48px;
        height: 48px;
        margin-top: 0px;
        margin-left: 64px;
    }

    25% {
        width: 48px;
        height: 112px;
        margin-top: 0px;
        margin-left: 64px;
    }

    37.5% {
        width: 48px;
        height: 48px;
        margin-top: 64px;
        margin-left: 64px;
    }

    50% {
        width: 48px;
        height: 48px;
        margin-top: 64px;
        margin-left: 64px;
    }

    62.5% {
        width: 48px;
        height: 48px;
        margin-top: 64px;
        margin-left: 64px;
    }

    75% {
        width: 48px;
        height: 48px;
        margin-top: 64px;
        margin-left: 64px;
    }

    87.5% {
        width: 48px;
        height: 48px;
        margin-top: 64px;
        margin-left: 64px;
    }

    100% {
        width: 112px;
        height: 48px;
        margin-top: 64px;
        margin-left: 0px;
    }
}

/* Image carousel */

#stage {
    width: 100%;
    height: 80vh;
    transition: box-shadow ease .5s;
}

#stage img {
    position: absolute;
    transform: translateX(-50%);
    border-radius: 10px;

    min-width: 300px;
    max-width: 80vw;
    max-height: 100%;
}

#img-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: min-content;
}

#stage img:nth-of-type(1) {
    animation-name: fader;
    animation-delay: 5s;
    animation-duration: 1s;
    z-index: 20;
}

#stage img:nth-of-type(2) {
    z-index: 10;
}

#stage img:nth-of-type(n+3) {
    display: none;
}

@keyframes fader {
    from {
        opacity: 1.0;
    }

    to {
        opacity: 0.0;
    }
}

/* Phone */
@media only screen and (max-width : 710px) {

    /* landscape orientation */
    .centered.tmp {
        display: block;
    }

    #gti-logo {
        max-width: 50vw;
    }

    .push-left {
        margin: auto;
        padding: 10px;
    }
}

@media only screen and (min-width : 375px) and (max-width : 667px) and (orientation : portrait) {
    /* portrait orientation */
}

/* Tablet */
@media only screen and (min-width : 768px) and (max-width : 834px) and (orientation : landscape) {
    /* landscape orientation */
}

@media only screen and (min-width : 768px) and (max-width : 834px) and (orientation : portrait) {
    /* portrait orientation */
}